.HouseCard {
  display         : inline-block;
  width           : calc(100vw * (379 / 1366));
  height          : calc(100vw * (381 / 1366));
  border          : 1px solid #d8d8d8;
  background-color: #f8f8f8;
  text-decoration : none;
  text-align      : left;
  color           : #363636;
  transition      : transform 0.2s ease;

  &:hover {
    transform: translateY(-3px);
  }

  @media screen and (max-width: 1000px) {
    width : calc(100vw * (420 / 1000));
    height: calc(100vw * (381 / 1000));
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    height: calc(100vw * (400 / 600));
  }

  &__image-block {
    position  : relative;
    height    : calc(100vw * (227 / 1366));
    background: rgb(250, 250, 250);

    @media screen and (max-width: 1000px) {
      height: calc(100vw * (227 / 1000));
    }

    @media screen and (max-width: 600px) {
      height: calc(100vw * (240 / 600));
    }
  }

  &__image {
    width          : 100%;
    height         : 100%;
    object-fit     : cover;
    object-position: center;
  }

  &__tag {
    height     : 30px;
    position   : absolute;
    bottom     : 0;
    right      : 0;
    font-size  : 0.75rem;
    font-weight: 500;
    line-height: 30px;
    color      : #ffffff;
    text-align : center;
    z-index    : 1;

    @media screen and (max-width: 768px) and (min-width: 601px), (max-width: 450px) {
      height     : 20px;
      line-height: 20px;
    }

    &.orange {
      width           : 204px;
      background-color: #ec6608;

      @media screen and (max-width: 768px) and (min-width: 601px), (max-width: 450px) {
        width: 150px;
      }
    }

    &.green {
      width           : 134px;
      background-color: #006f79;

      @media screen and (max-width: 768px) and (min-width: 601px), (max-width: 450px) {
        width: 100px;
      }
    }
  }

  &__main {
    padding: 20px;

    @media screen and (max-width: 1280px) {
      padding: 10px;
    }

    @media screen and (max-width: 1024px) {
      padding: 5px;
    }

    @media screen and (max-width: 1000px) {
      padding: 10px;
    }

    @media screen and (max-width: 790px) {
      padding: 5px;
    }

    @media screen and (max-width: 600px) {
      padding: 15px;
    }

    @media screen and (max-width: 525px) {
      padding: 10px;
    }

    @media screen and (max-width: 360px) {
      padding: 5px;
    }
  }

  &__title {
    margin       : 0;
    margin-bottom: 2px;
    font-size    : 1.25rem;
    font-weight  : 700;
  }

  &__text {
    margin: 0;
  }

  &__adress {
    margin-bottom: 15px;

    @media screen and (max-width: 768px) and (min-width: 601px), (max-width: 450px) {
      margin-bottom: calc(100vw * (12 / 768));
    }
  }

  &__price {
    margin-bottom: 7px;

    @media screen and (max-width: 768px) and (min-width: 601px), (max-width: 450px) {
      margin-bottom: 3px;
    }

    &-value {
      font-weight: 700;
    }
  }

  &__info {
    font-size: 0.875rem;
  }
}